{% extends 'rest_framework/base.html' %}

{% block title %}
  Api - Filmes
{% endblock %}

{% block bootstrap_theme %}
  <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css" type="text/css">
  <link rel="shortcut icon" href="https://lucasalmeida-blogsite.s3.sa-east-1.amazonaws.com/pipoca.ico">
{% endblock %} 

{% block branding %}
  <a class="navbar-brand" target="_blank" rel="nofollow" href="https://www.lucasalmeida.net.br">
    Lucas de Almeida Sarmento - Site
  </a>
{% endblock %}